<h1 class="title">Lastnames</h1>
<hr/>

<form [formGroup]="form" (ngSubmit)="onSubmitForm()" class="form-inline">
    <div class="row mb-3">
        <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="PEPE"/>
            <div class="error" *ngIf="form.get('lastName')?.hasError('required') && form.get('lastName')?.touched">
              Field Required
            </div>
            <div class="error" *ngIf="form.get('lastName')?.hasError('maxlength') && form.get('lastName')?.touched">
              Max. size 50 characters
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2" [disabled]="form.invalid">Create</button>
    <button type="reset" class="btn">Cancel</button>
</form>

<hr/>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-1">#</th>
            <th class="col-10">Value</th>
            <th class="col-1 text-center">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let item of (list | async)">
            <td class="col-1">{{item.id}}</td>
            <td class="col-10">{{item.lastName}}</td>
            <td class="col-1  text-center">
                <button type="reset" class="btn" (click)="onDeleteRowPressed(item.id)">delete</button>
            </td>
        </tr>
    </tbody>
</table>
